@{
    ViewData["Title"] = "Администраторска контролна табла";
}

<div class="container mt-4">
    <h1>Добредојдовте, Администратор</h1>
    <p class="lead">Контролна табла за управување со системот</p>

    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Студенти</div>
                <div class="card-body">
                    <h5 class="card-title">@ViewBag.TotalStudents</h5>
                    <p class="card-text">Вкупно студенти во системот</p>
                    <a asp-action="Students" class="btn btn-light btn-sm">Уреди</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Професори</div>
                <div class="card-body">
                    <h5 class="card-title">@ViewBag.TotalTeachers</h5>
                    <p class="card-text">Вкупно професори во системот</p>
                    <a asp-action="Teachers" class="btn btn-light btn-sm">Уреди</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Предмети</div>
                <div class="card-body">
                    <h5 class="card-title">@ViewBag.TotalCourses</h5>
                    <p class="card-text">Вкупно предмети во системот</p>
                    <a asp-action="Courses" class="btn btn-light btn-sm">Уреди</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-white bg-warning mb-3">
                <div class="card-header">Запишувања</div>
                <div class="card-body">
                    <h5 class="card-title">@ViewBag.TotalEnrollments</h5>
                    <p class="card-text">Вкупно активни запишувања</p>
                    <a asp-action="Courses" class="btn btn-light btn-sm">Прегледај</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Уреди</h3>
            <div class="list-group">
                <a asp-action="CreateStudent" class="list-group-item list-group-item-action">
                    + Додади нов студент
                </a>
                <a asp-action="CreateTeacher" class="list-group-item list-group-item-action">
                    + Додади нов професор
                </a>
                <a asp-action="CreateCourse" class="list-group-item list-group-item-action">
                    + Додади нов предмет
                </a>
                <a asp-action="Users" class="list-group-item list-group-item-action">
                    Уреди корисници
                </a>
            </div>
        </div>
    </div>
</div>
